layout {

    focus-ring {
        active-color   "#86b7d7"
        inactive-color "#19191a"
        urgent-color   "#dfa7a0"
    }

    border {
        active-color   "#86b7d7"
        inactive-color "#19191a"
        urgent-color   "#dfa7a0"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#86b7d7"
        inactive-color "#183a49"
        urgent-color   "#dfa7a0"
    }

    insert-hint {
        color "#86b7d780"
    }
}

recent-windows {
    highlight {
        active-color "#86b7d7"
        urgent-color "#dfa7a0"
    }
}
