layout {

    focus-ring {
        active-color   "#b9ace3"
        inactive-color "#1b1a1b"
        urgent-color   "#dfa7a0"
    }

    border {
        active-color   "#b9ace3"
        inactive-color "#1b1a1b"
        urgent-color   "#dfa7a0"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#b9ace3"
        inactive-color "#4e456b"
        urgent-color   "#dfa7a0"
    }

    insert-hint {
        color "#b9ace380"
    }
}

recent-windows {
    highlight {
        active-color "#b9ace3"
        urgent-color "#dfa7a0"
    }
}
