layout {

    focus-ring {
        active-color   "#a2b4e0"
        inactive-color "#1a1a1a"
        urgent-color   "#dfa7a0"
    }

    border {
        active-color   "#a2b4e0"
        inactive-color "#1a1a1a"
        urgent-color   "#dfa7a0"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#a2b4e0"
        inactive-color "#2d4365"
        urgent-color   "#dfa7a0"
    }

    insert-hint {
        color "#a2b4e080"
    }
}

recent-windows {
    highlight {
        active-color "#a2b4e0"
        urgent-color "#dfa7a0"
    }
}
