// Animation settings.
// The wiki explains how to configure individual animations:
// https://yalter.github.io/niri/Configuration:-Animations
animations {
    // Uncomment to turn off all animations.
    // off

    // Slow down all animations by this factor. Values below 1 speed them up instead.
    // slowdown 3.0

    // window-close {
    //     duration-ms 1500
    //     custom-shader r"
    //         vec4 close_color(vec3 coords_geo, vec3 size_geo) {
    //             vec4 color = vec4(0.0);

    //             if (0.0 <= coords_geo.x && coords_geo.x <= 1.0
    //                     && 0.0 <= coords_geo.y && coords_geo.y <= 1.0)
    //             {
    //                 vec4 from = vec4(1.0, 0.0, 0.0, 1.0);
    //                 vec4 to = vec4(0.0, 1.0, 0.0, 1.0);
    //                 color = mix(from, to, coords_geo.y);
    //             }

    //             return color * (1.0 - niri_clamped_progress);
    //         }
    //     "
    // }

    // window-resize {
    //     duration-ms 1500
    //     custom-shader r"
    //         vec4 resize_color(vec3 coords_curr_geo, vec3 size_curr_geo) {
    //             vec3 coords_tex_next = niri_geo_to_tex_next * coords_curr_geo;
    //             vec4 color = texture2D(niri_tex_next, coords_tex_next.st);
    //             return color;
    //         }
    //     "
    // }
}