binds {

    Mod+Page_Down hotkey-overlay-title=null { spawn-sh "~/.config/niri/scripts/smart_focus_workspace.sh prev"; }
    Mod+Page_Up hotkey-overlay-title=null { spawn-sh "~/.config/niri/scripts/smart_focus_workspace.sh next"; }
    Mod+U hotkey-overlay-title=null { spawn-sh "~/.config/niri/scripts/smart_focus_workspace.sh prev"; }
    Mod+I hotkey-overlay-title=null { spawn-sh "~/.config/niri/scripts/smart_focus_workspace.sh next"; }
    
    Mod+J hotkey-overlay-title=null { spawn-sh "~/.config/niri/scripts/smart_focus_window_or_workspace.sh down"; }
    Mod+K hotkey-overlay-title=null { spawn-sh "~/.config/niri/scripts/smart_focus_window_or_workspace.sh up"; }
    Mod+Down hotkey-overlay-title=null { spawn-sh "~/.config/niri/scripts/smart_focus_window_or_workspace.sh down"; }
    Mod+Up hotkey-overlay-title=null { spawn-sh "~/.config/niri/scripts/smart_focus_window_or_workspace.sh up"; }

    Mod+WheelScrollDown hotkey-overlay-title=null cooldown-ms=50{ spawn-sh "~/.config/niri/scripts/smart_focus_workspace.sh next"; }
    Mod+WheelScrollUp hotkey-overlay-title=null cooldown-ms=50 { spawn-sh "~/.config/niri/scripts/smart_focus_workspace.sh prev"; }
    Mod+Alt+WheelScrollDown hotkey-overlay-title=null cooldown-ms=50 { spawn-sh "~/.config/niri/scripts/smart_move_column_to_workspace.sh next"; }
    Mod+Alt+WheelScrollUp hotkey-overlay-title=null cooldown-ms=50 { spawn-sh "~/.config/niri/scripts/smart_move_column_to_workspace.sh prev"; }

    Mod+Alt+Page_Down hotkey-overlay-title=null { spawn-sh "~/.config/niri/scripts/smart_move_column_to_workspace.sh prev"; }
    Mod+Alt+Page_Up hotkey-overlay-title=null { spawn-sh "~/.config/niri/scripts/smart_move_column_to_workspace.sh next"; }
    Mod+Alt+U hotkey-overlay-title=null { spawn-sh "~/.config/niri/scripts/smart_move_column_to_workspace.sh prev"; }
    Mod+Alt+I hotkey-overlay-title=null { spawn-sh "~/.config/niri/scripts/smart_move_column_to_workspace.sh next"; }

    Mod+Alt+J hotkey-overlay-title=null { spawn-sh "~/.config/niri/scripts/smart_move_window_or_to_workspace.sh down"; }
    Mod+Alt+K hotkey-overlay-title=null { spawn-sh "~/.config/niri/scripts/smart_move_window_or_to_workspace.sh up"; }
    Mod+Alt+Down hotkey-overlay-title=null { spawn-sh "~/.config/niri/scripts/smart_move_window_or_to_workspace.sh down"; }
    Mod+Alt+Up hotkey-overlay-title=null { spawn-sh "~/.config/niri/scripts/smart_move_window_or_to_workspace.sh up"; }

    Mod+1 hotkey-overlay-title=null { spawn-sh "~/.config/niri/scripts/smart_focus_workspace.sh 1"; }
    Mod+2 hotkey-overlay-title=null { spawn-sh "~/.config/niri/scripts/smart_focus_workspace.sh 2"; }
    Mod+3 hotkey-overlay-title=null { spawn-sh "~/.config/niri/scripts/smart_focus_workspace.sh 3"; }
    Mod+4 hotkey-overlay-title=null { spawn-sh "~/.config/niri/scripts/smart_focus_workspace.sh 4"; }
    Mod+5 hotkey-overlay-title=null { spawn-sh "~/.config/niri/scripts/smart_focus_workspace.sh 5"; }
    Mod+6 hotkey-overlay-title=null { spawn-sh "~/.config/niri/scripts/smart_focus_workspace.sh 6"; }
    Mod+7 hotkey-overlay-title=null { spawn-sh "~/.config/niri/scripts/smart_focus_workspace.sh 7"; }
    Mod+8 hotkey-overlay-title=null { spawn-sh "~/.config/niri/scripts/smart_focus_workspace.sh 8"; }
    Mod+9 hotkey-overlay-title=null { spawn-sh "~/.config/niri/scripts/smart_focus_workspace.sh 9"; }
    Mod+S hotkey-overlay-title=null { spawn-sh "~/.config/niri/scripts/smart_toggle_workspace.sh special"; }

    Mod+Alt+1 hotkey-overlay-title=null { spawn-sh "~/.config/niri/scripts/smart_move_column_to_workspace.sh 1"; }
    Mod+Alt+2 hotkey-overlay-title=null { spawn-sh "~/.config/niri/scripts/smart_move_column_to_workspace.sh 2"; }
    Mod+Alt+3 hotkey-overlay-title=null { spawn-sh "~/.config/niri/scripts/smart_move_column_to_workspace.sh 3"; }
    Mod+Alt+4 hotkey-overlay-title=null { spawn-sh "~/.config/niri/scripts/smart_move_column_to_workspace.sh 4"; }
    Mod+Alt+5 hotkey-overlay-title=null { spawn-sh "~/.config/niri/scripts/smart_move_column_to_workspace.sh 5"; }
    Mod+Alt+6 hotkey-overlay-title=null { spawn-sh "~/.config/niri/scripts/smart_move_column_to_workspace.sh 6"; }
    Mod+Alt+7 hotkey-overlay-title=null { spawn-sh "~/.config/niri/scripts/smart_move_column_to_workspace.sh 7"; }
    Mod+Alt+8 hotkey-overlay-title=null { spawn-sh "~/.config/niri/scripts/smart_move_column_to_workspace.sh 8"; }
    Mod+Alt+9 hotkey-overlay-title=null { spawn-sh "~/.config/niri/scripts/smart_move_column_to_workspace.sh 9"; }
    Mod+Alt+S hotkey-overlay-title=null { spawn-sh "~/.config/niri/scripts/smart_move_column_to_workspace.sh special"; }
}

animations {
    workspace-switch {
        // off
        spring damping-ratio=1.2 stiffness=2000 epsilon=0.0001
    }
}