binds {

    Mod+Page_Down hotkey-overlay-title=null { focus-workspace-down; }
    Mod+Page_Up hotkey-overlay-title=null { focus-workspace-up; }
    Mod+U hotkey-overlay-title=null { focus-workspace-down; }
    Mod+I hotkey-overlay-title=null { focus-workspace-up; }
    
    Mod+J hotkey-overlay-title=null { focus-window-or-workspace-down; }
    Mod+K hotkey-overlay-title=null { focus-window-or-workspace-up; }
    Mod+Down hotkey-overlay-title=null { focus-window-or-workspace-down; }
    Mod+Up hotkey-overlay-title=null { focus-window-or-workspace-up; }

    Mod+WheelScrollDown hotkey-overlay-title=null cooldown-ms=50 { focus-workspace-down; }
    Mod+WheelScrollUp hotkey-overlay-title=null cooldown-ms=50 { focus-workspace-up; }
    Mod+Alt+WheelScrollDown hotkey-overlay-title=null cooldown-ms=50 { move-column-to-workspace-down; }
    Mod+Alt+WheelScrollUp hotkey-overlay-title=null cooldown-ms=50 { move-column-to-workspace-up; }

    Mod+Alt+Page_Down hotkey-overlay-title=null { move-column-to-workspace-down; }
    Mod+Alt+Page_Up hotkey-overlay-title=null { move-column-to-workspace-up; }
    Mod+Alt+U hotkey-overlay-title=null { move-column-to-workspace-down; }
    Mod+Alt+I hotkey-overlay-title=null { move-column-to-workspace-up; }

    Mod+Alt+J hotkey-overlay-title=null { move-window-down-or-to-workspace-down; }
    Mod+Alt+K hotkey-overlay-title=null { move-window-up-or-to-workspace-up; }
    Mod+Alt+Down hotkey-overlay-title=null { move-window-down-or-to-workspace-down; }
    Mod+Alt+Up hotkey-overlay-title=null { move-window-up-or-to-workspace-up; }

    Mod+1 hotkey-overlay-title=null { focus-workspace "1"; }
    Mod+2 hotkey-overlay-title=null { focus-workspace "2"; }
    Mod+3 hotkey-overlay-title=null { focus-workspace "3"; }
    Mod+4 hotkey-overlay-title=null { focus-workspace "4"; }
    Mod+5 hotkey-overlay-title=null { focus-workspace "5"; }
    Mod+6 hotkey-overlay-title=null { focus-workspace "6"; }
    Mod+7 hotkey-overlay-title=null { focus-workspace "7"; }
    Mod+8 hotkey-overlay-title=null { focus-workspace "8"; }
    Mod+9 hotkey-overlay-title=null { focus-workspace "9"; }

    Mod+S hotkey-overlay-title=null { spawn-sh "~/.config/niri/scripts/toggle_workspace.sh \"special\""; }

    Mod+Alt+1 hotkey-overlay-title=null { move-column-to-workspace "1"; }
    Mod+Alt+2 hotkey-overlay-title=null { move-column-to-workspace "2"; }
    Mod+Alt+3 hotkey-overlay-title=null { move-column-to-workspace "3"; }
    Mod+Alt+4 hotkey-overlay-title=null { move-column-to-workspace "4"; }
    Mod+Alt+5 hotkey-overlay-title=null { move-column-to-workspace "5"; }
    Mod+Alt+6 hotkey-overlay-title=null { move-column-to-workspace "6"; }
    Mod+Alt+7 hotkey-overlay-title=null { move-column-to-workspace "7"; }
    Mod+Alt+8 hotkey-overlay-title=null { move-column-to-workspace "8"; }
    Mod+Alt+9 hotkey-overlay-title=null { move-column-to-workspace "9"; }
    Mod+Alt+S hotkey-overlay-title=null { move-column-to-workspace "special"; }

    Mod+Shift+Page_down hotkey-overlay-title=null { move-workspace-down; }
    Mod+Shift+Page_Up hotkey-overlay-title=null { move-workspace-up; }
    Mod+Shift+U hotkey-overlay-title=null { move-workspace-down; }
    Mod+Shift+I hotkey-overlay-title=null { move-workspace-up; }
}

animations {
    workspace-switch {
        // off
        spring damping-ratio=1.5 stiffness=5000 epsilon=0.0001
    }
}