binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    // Spawning programs
    Mod+T repeat=false hotkey-overlay-title="Spawn Kitty" { spawn "kitty"; }
    Mod+Return repeat=false hotkey-overlay-title="Spawn Kitty" { spawn "kitty"; }
    Mod+Shift+T repeat=false hotkey-overlay-title="Spawn Floating Kitty" { spawn-sh "kitty --app-id 'floating kitty'"; }
    Mod+Shift+Return repeat=false hotkey-overlay-title="Spawn Floating Kitty" { spawn-sh "kitty --app-id 'floating kitty'"; }
    Mod+E repeat=false hotkey-overlay-title="Spawn Yazi" { spawn-sh "kitty yazi"; }
    Mod+Shift+E repeat=false hotkey-overlay-title="Spawn Floating Yazi" { spawn-sh "kitty --class 'floating kitty' yazi"; }

    // Launcher
    // Mod+W repeat=false hotkey-overlay-title="Run an Application: wofi" { spawn-sh "pkill wofi || wofi"; }
    Mod+W repeat=false hotkey-overlay-title="Spawn Launcher" { spawn-sh "noctalia-shell ipc call launcher toggle" ; }
    Mod+X repeat=false hotkey-overlay-title="Spawn Launcner" { spawn-sh "noctalia-shell ipc call launcher toggle" ; }

    // Lock
    // Mod+Ctrl+Alt+L hotkey-overlay-title="Lock the Screen: swaylock" { spawn "swaylock"; }
    // Mod+Ctrl+Alt+L hotkey-overlay-title="Lock the Screen" { spawn-sh "quickshell -p ~/programming/quickshell/lockscreen/shell.qml"; }
    Mod+Ctrl+L hotkey-overlay-title="Lock the Screen" { spawn-sh "noctalia-shell ipc call lockScreen lock" ; }
    Mod+Ctrl+Alt+L hotkey-overlay-title="Lock the Screen" { spawn-sh "noctalia-shell ipc call lockScreen lock" ; }

    // Wallpapers
    // Mod+Shift+W repeat=false hotkey-overlay-title="Select wallpaper" { spawn-sh "python ~/programming/wallpaper_selector_niri/config.py"; }
    Mod+Shift+W repeat=false hotkey-overlay-title="Select Wallpaper (neat)" { spawn-sh "noctalia-shell ipc call plugin:wallcards toggle" ; }
    Mod+Alt+W repeat=false hotkey-overlay-title="Select Wallpaper" { spawn-sh "noctalia-shell ipc call wallpaper toggle" ; }
    Mod+Ctrl+W repeat=false hotkey-overlay-title="Select Video Wallpaper" { spawn-sh "noctalia-shell ipc call plugin:videowallpaper openPanel" ; }

    // Display time (Mod release)
    Mod+F1 hotkey-overlay-title=null { spawn-sh "notify-send -u low -t 1000 $(date '+%H:%M')"; }

    // Audio controls
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }

    // Brightness controls
    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    Mod+Ctrl+Alt+BracketLeft { spawn-sh "notify-send -u low -t 5000 \"Clciked left\"" ; }
    Mod+Ctrl+Alt+BracketRight { spawn-sh "notify-send -u low -t 5000 \"Clciked right\"" ; }

    Mod+O repeat=false { toggle-overview; }

    Mod+Q repeat=false { close-window; }

    Mod+MouseBack { focus-column-left; }
    Mod+MouseForward { focus-column-right; }

    Mod+Page_Down hotkey-overlay-title=null { focus-workspace-down; }
    Mod+Page_Up hotkey-overlay-title=null { focus-workspace-up; }
    Mod+U hotkey-overlay-title=null { focus-workspace-down; }
    Mod+I hotkey-overlay-title=null { focus-workspace-up; }
    
    Mod+J hotkey-overlay-title=null { focus-window-or-workspace-down; }
    Mod+K hotkey-overlay-title=null { focus-window-or-workspace-up; }
    Mod+Down hotkey-overlay-title=null { focus-window-or-workspace-down; }
    Mod+Up hotkey-overlay-title=null { focus-window-or-workspace-up; }

    Mod+WheelScrollDown hotkey-overlay-title=null cooldown-ms=50 { focus-workspace-down; }
    Mod+WheelScrollUp hotkey-overlay-title=null cooldown-ms=50 { focus-workspace-up; }
    Mod+Alt+WheelScrollDown hotkey-overlay-title=null cooldown-ms=50 { move-column-to-workspace-down; }
    Mod+Alt+WheelScrollUp hotkey-overlay-title=null cooldown-ms=50 { move-column-to-workspace-up; }

    Mod+Alt+Page_Down hotkey-overlay-title=null { move-column-to-workspace-down; }
    Mod+Alt+Page_Up hotkey-overlay-title=null { move-column-to-workspace-up; }
    Mod+Alt+U hotkey-overlay-title=null { move-column-to-workspace-down; }
    Mod+Alt+I hotkey-overlay-title=null { move-column-to-workspace-up; }

    Mod+Alt+J hotkey-overlay-title=null { move-window-down-or-to-workspace-down; }
    Mod+Alt+K hotkey-overlay-title=null { move-window-up-or-to-workspace-up; }
    Mod+Alt+Down hotkey-overlay-title=null { move-window-down-or-to-workspace-down; }
    Mod+Alt+Up hotkey-overlay-title=null { move-window-up-or-to-workspace-up; }

    Mod+1 hotkey-overlay-title=null { focus-workspace "1"; }
    Mod+2 hotkey-overlay-title=null { focus-workspace "2"; }
    Mod+3 hotkey-overlay-title=null { focus-workspace "3"; }
    Mod+4 hotkey-overlay-title=null { focus-workspace "4"; }
    Mod+5 hotkey-overlay-title=null { focus-workspace "5"; }
    Mod+6 hotkey-overlay-title=null { focus-workspace "6"; }
    Mod+7 hotkey-overlay-title=null { focus-workspace "7"; }
    Mod+8 hotkey-overlay-title=null { focus-workspace "8"; }
    Mod+9 hotkey-overlay-title=null { focus-workspace "9"; }

    Mod+S hotkey-overlay-title=null { spawn-sh "toggle_workspace \"special\""; }

    Mod+Alt+1 hotkey-overlay-title=null { move-column-to-workspace "1"; }
    Mod+Alt+2 hotkey-overlay-title=null { move-column-to-workspace "2"; }
    Mod+Alt+3 hotkey-overlay-title=null { move-column-to-workspace "3"; }
    Mod+Alt+4 hotkey-overlay-title=null { move-column-to-workspace "4"; }
    Mod+Alt+5 hotkey-overlay-title=null { move-column-to-workspace "5"; }
    Mod+Alt+6 hotkey-overlay-title=null { move-column-to-workspace "6"; }
    Mod+Alt+7 hotkey-overlay-title=null { move-column-to-workspace "7"; }
    Mod+Alt+8 hotkey-overlay-title=null { move-column-to-workspace "8"; }
    Mod+Alt+9 hotkey-overlay-title=null { move-column-to-workspace "9"; }
    Mod+Alt+S hotkey-overlay-title=null { move-column-to-workspace "special"; }

    Mod+Shift+Page_down hotkey-overlay-title=null { move-workspace-down; }
    Mod+Shift+Page_Up hotkey-overlay-title=null { move-workspace-up; }
    Mod+Shift+U hotkey-overlay-title=null { move-workspace-down; }
    Mod+Shift+I hotkey-overlay-title=null { move-workspace-up; }

    Mod+Left hotkey-overlay-title=null { focus-column-left; }
    Mod+Right hotkey-overlay-title=null { focus-column-right; }
    Mod+H hotkey-overlay-title=null { focus-column-left; }
    Mod+L hotkey-overlay-title=null { focus-column-right; }

    Mod+Alt+Left hotkey-overlay-title=null { move-column-left; }
    Mod+Alt+Right hotkey-overlay-title=null { move-column-right; }
    Mod+Alt+H hotkey-overlay-title=null { move-column-left; }
    Mod+Alt+L hotkey-overlay-title=null { move-column-right; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Alt+Home { move-column-to-first; }
    Mod+Alt+End  { move-column-to-last; }

    Mod+Shift+Left  { focus-monitor-left; }
    Mod+Shift+Down  { focus-monitor-down; }
    Mod+Shift+Up    { focus-monitor-up; }
    Mod+Shift+Right { focus-monitor-right; }
    Mod+Shift+H     { focus-monitor-left; }
    Mod+Shift+J     { focus-monitor-down; }
    Mod+Shift+K     { focus-monitor-up; }
    Mod+Shift+L     { focus-monitor-right; }

    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

    // Mod+Shift+Page_Down { move-workspace-down; }
    // Mod+Shift+Page_Up   { move-workspace-up; }
    // Mod+Shift+U         { move-workspace-down; }
    // Mod+Shift+I         { move-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Alt+WheelScrollRight { move-column-right; }
    Mod+Alt+WheelScrollLeft  { move-column-left; }

    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Alt+Shift+WheelScrollDown { move-column-right; }
    Mod+Alt+Shift+WheelScrollUp   { move-column-left; }

    // Similarly, you can bind touchpad scroll "ticks".
    // Touchpad scrolling is continuous, so for these binds it is split into
    // discrete intervals.
    // These binds are also affected by touchpad's natural-scroll, so these
    // example binds are "inverted", since we have natural-scroll enabled for
    // touchpads by default.
    // Mod+TouchpadScrollDown { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02+"; }
    // Mod+TouchpadScrollUp   { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02-"; }

    // You can refer to workspaces by index. However, keep in mind that
    // niri is a dynamic workspace system, so these commands are kind of
    // "best effort". Trying to refer to a workspace index bigger than
    // the current workspace count will instead refer to the bottommost
    // (empty) workspace.
    //
    // For example, with 2 workspaces + 1 empty, indices 3, 4, 5 and so on
    // will all refer to the 3rd workspace.

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    Mod+R repeat=false { switch-preset-column-width; }
    Mod+Shift+R repeat=false { switch-preset-window-height; }
    Mod+Alt+R { reset-window-height; }
    Mod+F repeat=false { maximize-column; }
    Mod+Ctrl+F repeat=false { toggle-windowed-fullscreen; }
    Mod+Shift+F repeat=false { fullscreen-window; }
    Mod+M repeat=false { maximize-window-to-edges; }

    Mod+Alt+F { expand-column-to-available-width; }

    Mod+C { center-column; }

    Mod+Alt+C { center-visible-columns; }

    // Finer width adjustments.
    // This command can also:
    // * set width in pixels: "1000"
    // * adjust width in pixels: "-5" or "+5"
    // * set width as a percentage of screen width: "25%"
    // * adjust width as a percentage of screen width: "-10%" or "+10%"
    // Pixel sizes use logical, or scaled, pixels. I.e. on an output with scale 2.0,
    // set-column-width "100" will make the column occupy 200 physical screen pixels.
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+V repeat=false { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    // Actions to switch layouts.
    // Note: if you uncomment these, make sure you do NOT have
    // a matching layout switch hotkey configured in xkb options above.
    // Having both at once on the same hotkey will break the switching,
    // since it will switch twice upon pressing the hotkey (once by xkb, once by niri).
    // Mod+Space       { switch-layout "next"; }
    // Mod+Shift+Space { switch-layout "prev"; }

    // Cast focused window
    Mod+N hotkey-overlay-title="Cast Focused Window" { spawn-sh "niri msg action set-dynamic-cast-window --id $(niri msg -j focused-window | jq .id)"; }

    // Screenshots
    Print hotkey-overlay-title="Screenshot" { spawn-sh "grim -g \"$(slurp)\" - | satty --filename -"; }
    Shift+Print hotkey-overlay-title="Screenshot Screen" { screenshot-screen; }
    Alt+Print hotkey-overlay-title="Screenshot Window" { screenshot-window; }
    Ctrl+Print hotkey-overlay-title="Screenshot and Scan Text" { spawn-sh "grim -g \"$(slurp)\" - | tesseract - - -l rus+eng | wl-copy && notify-send -u low \"OCR\" \"Text has been copied\""; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // Session controls
    Ctrl+Alt+Delete hotkey-overlay-title="Open Session Menu" { spawn-sh "noctalia-shell ipc call sessionMenu toggle"; }
    Mod+Shift+M hotkey-overlay-title="Open Session Menu" { spawn-sh "noctalia-shell ipc call sessionMenu toggle"; }
    Mod+Ctrl+M hotkey-overlay-title="Quit niri session" { quit; } // <- Danger

    Mod+Shift+P { power-off-monitors; }
}
